body{
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-bar {
    background-color: aquamarine;
}
.body-1 {
    background-color: rgb(241, 241, 85);
    display: flex;
    justify-content: space-between;
}
nav {
    background-color: blue;
    display: flex;
    justify-content: space-between;
} 
.links {
    display: flex;
    background-color: aquamarine;
}
.links ul {
    display: flex;
    gap: 30px;

}
.logo {
    color: aliceblue;
}

.side-text {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
}
.img-1 {
    display: flex;
    align-content: flex-end;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    flex: 1;
}
.side-text{
    flex: 1;
}
.title-1 {
    color: aliceblue;
}
.para-1 {
    color: aliceblue;
}
.signup-button{
    color: aliceblue;
}